body{
    background-color: #2827CC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: white;
    width:350px;
    height: 350px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: space-around;
    

}
#count{
margin: 30px;
text-align: center;
cursor: pointer;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.font-size{
    font-size: 4rem;
}
.green {
    color:green;
}
.red{
    color: red;
}
.button{
    width:50px ;
    height: 35px;
    background-color: #2827CC;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;

}
.button h2{
    color: white;
    font-size: 2rem;
}